/*
* Copyrights @2018
* Author : Arfan. Febriyanto - arfanabbii@gmail.com
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

body {
	margin: 50px !important;
	font-family: 'Roboto', sans-serif !important;
}

$sith: #282828;
$jedi: #666666;
$padme: #5b3587;
$leia: #e75b30;
$maul: #e83b2f;
$yoda: #71cee6;

.hover {
	cursor:pointer;
}

.thumb {
	height: 250px;
	margin-top:3%;
	margin-bottom:3%;
	color: white;

	&.detail {
		height: 200px !important;

		.row {
			&.image {
				height: 93.5% !important;
			}
		}
	}

	.row {
		margin:0.5%;
		background-color: $jedi;
		position: relative;
		height: 100%;

		&.image {
	    height: 75%;
	  }

		&.label {
			margin-top: 8%;
			height: 20% !important;
	  }

		img {
			height:30%;
		}

		[class*="col-"] {
			position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
		}
	}
}

.row {
		&.list	{
			background-color: $sith;
		}
}

.content-list {
	margin-top: 5%;

	h3 {
		text-align: left;
	}
}

.view {
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.content-detail {
	margin-top: 5%;

	.view {
		height: 85px;
	}

	.list-movie {
		margin-left: -30px;
		margin-right: -30px;

		[class*="col-"] {
		  margin-top: 15px;
			
			:first-child {
				padding-left: 0 !important;
			}

			:last-child {
				padding-right: 0 !important;
			}
		}

		.play {
			position: relative;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			img {
				position: absolute;
			}
		}

		.description {
			border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    margin-top: -1%;
	    color: grey;
	    text-align: left;
	    padding: 5%;
	    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
	    -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
	    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
			min-height: 145px;

			p {
				font-size: 85%;
			}
		}
	}
}

.blockquote {
	border-left: 5px solid red;
	padding-left: 2% !important;
	background-color: white !important;
}

.animated {
	-webkit-animation: flickerAnimation 1s infinite;
 	-moz-animation: flickerAnimation 1s infinite;
 	-o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

.pull-left {
	text-align: left;
}

.pull-right {
	text-align: right;
}

.description {
	margin-top:3%;
	margin-bottom:3%;
	color: white;
}

.small-text {
	font-size: 90%;
	line-height: 2;
}

.padme {
	color: $padme;
}

.leia {
	color: $leia;
}

.maul {
	color: $maul;
}

.yoda {
	color: $yoda;
}

.content {
	&.padme {
		background-color: $padme;
	}

	&.leia {
		background-color: $leia;
	}
}

.movie-related-wrapper {
	width: 100%;
	font-size:85%;

	.bio {
		padding: 3%;
		background-color: $sith;
		color: white;
	}

	.description {
		margin-top: -1px;
		padding: 3%;
		color: grey;
		border: 1px solid grey;
	}
}

.title {
	font-size: 130%;
}
